<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <%- include('./partials/header',{check:false}); -%>
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Course Lists <i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Course Lists</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<form action="/course/search" class="col-lg-3 sidebar">
					<div class="sidebar-box bg-white ftco-animate">
						<div action="/course/search" class="search-form"style="background: #f7f7f7;padding:8px 12px">
							<div class="form-group" >
								<button class="icon fa fa-search" style="outline: none;border: none;background: none;"></button>
								<input type="text" name="search" class="form-control" placeholder="Search...">
							</div>
						</div>
					</div>

					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Course Category</h3>
						<div action="/course/search" class="browse-form">
							<% category.forEach((item,index)=>{ %>
								<label for="option-category-<%= index %>"><input type="checkbox" id="option-category-<%= index %>" name="category" value="<%= item.tittle%>"><%= item.tittle%> </label><br>
							<% }) %>
							
						</div>
					</div>

					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Course Instructor</h3>
						<div class="browse-form">
							<% allTeacher.forEach((item,index)=>{ %>
								<label for="option-instructor-<%= index %>"><input type="checkbox" id="option-instructor-<%= index %>" name="teacher" value="<%= item.name%>" ><%= item.name%></label><br>
							<% }) %>	
						</div>
					</div>

					<div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Course Type</h3>
						<div action="/course/search" class="browse-form">
							<% level.forEach((item,index)=>{ %>
								<label for="level-<%= index %>"><input type="checkbox" id="level-<%= index %>" name="type" value="<%= item.tittle%>" ><%= item.tittle%></label><br>
							<% }) %>
						</div>
					</div>
					<button type="submit" style="outline: none;color:white;padding: 5px 20px; border: none;background: linear-gradient(135deg, #ce4be8 0%, #207ce5 100%);border-radius: 5px;text-align: center;"><i class="bi bi-funnel" style="margin-right: 10px;"></i>Lọc</button>
					<!-- <div class="sidebar-box bg-white p-4 ftco-animate">
						<h3 class="heading-sidebar">Software</h3>
						<form action="#" class="browse-form">
							<label for="option-software-1"><input type="checkbox" id="option-software-1" name="vehicle" value="" checked> Adobe Photoshop</label><br>
							<label for="option-software-2"><input type="checkbox" id="option-software-2" name="vehicle" value=""> Adobe Illustrator</label><br>
							<label for="option-software-3"><input type="checkbox" id="option-software-3" name="vehicle" value=""> Sketch</label><br>
							<label for="option-software-4"><input type="checkbox" id="option-software-4" name="vehicle" value=""> WordPress</label><br>
							<label for="option-software-5"><input type="checkbox" id="option-software-5" name="vehicle" value=""> HTML &amp; CSS</label><br>
						</form>
					</div> -->
				</form>
				<div class="col-lg-9">
					<%- include('./partials/course',{allCourse}); -%>
					<div class="row mt-5">
						<div class="col">
							<div class="block-27">
								<ul class="pagination">
									<li><a href="?page=<%= currentPage-1==0?1:currentPage-1 %>">&lt;</a></li>
									<% for (let i = 1; i<quantity+1; i++) { %>
										<li <%if(i==currentPage){ %> 
											class="active"
											<% } %>
											>
											<a href="?page=<%= i %>">
												<%= i %>
											</a>
										</li>
									<% } %>
									<li><a href="?page=<%= currentPage==quantity?quantity:parseInt(currentPage)+1 %>">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<input type="hidden" name="userId" value="<%= user._id %>">
		<input type="hidden" name="quantity" value="<%= quantity %>">

    <%- include('./partials/footer'); -%>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/scrollax.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/main.js"></script>
<script src="/js/thang_custom.js"></script>
<script >
	document.addEventListener('DOMContentLoaded',()=>{
		
	})
</script>
</body>
</html>