<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
</head>
<body>
    <%- include('./teachers/header'); -%>
    
    <section class="ftco-section bg-light" style="margin-top: 150px;">
        <div class="container">
            <div class="row justify-content-center pb-4" style="margin-bottom: 30px;">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Welcome to 1EDU</span>
                    <h2 class="mb-4"> Chỉnh sửa khóa học</h2>
                </div>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row" style="gap: 50px;justify-content: center;align-items: center;">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div style="text-align: center;">Preview Image 300x200 </div>
                        <div style="width: 300px; height: 200px; overflow: hidden; border: 3px dashed #34bb3b;margin:0px auto;">
                            <img src="<%= course.imageUrl %>" alt="" id="img-review" style="width: 100%; display: flex;align-items: center;justify-content: center;">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12" style="text-align: center;">
                        <label for="image">Chọn hình ảnh cho khóa học</label>
                        <i class="bi bi-cloud-plus-fill" style="font-size: 100px;position: relative;color: #ce4be8; cursor: pointer;padding: 15px 20px;border:3px dashed #9d2ab4;display: flex;justify-content: center;align-items: center;">
                            <input type="file" name="image" id="" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer;" >
                        </i>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="">Tên khóa học</label>
                            <input type="text" placeholder="Tên khóa học" required="true" name="name" value="<%= course.name %>">
                        </div>
                        <div class="form-group">
                            <label for="">Học phí </label>
                            <input type="text" placeholder="Giá bán" name="fee" required="true" value="<%= course.fee %>">
                        </div>
                        <div class="form-group">
                            <label for="">Giảm giá</label>
                            <input type="text" placeholder="Giá khuyến mãi" name="feeDiscount" required="true" value="<%= course.feeDiscount %>">
                        </div>
                        <div class="form-group">
                            <label for="">Ngày bắt đầu </label>
                            <input type="date"  name="startDate" required="true" value="<%= formatTime(course.startDate) %>">
                        </div>
                        <div class="form-group">
                            <label for="">Ngày kết thúc</label>
                            <input type="date"  name="endDate" required="true" value="<%= formatTime(course.endDate) %>">
                        </div>
                        <div class="form-group">
                            <label for="">Số buổi học</label>
                            <input type="text" placeholder="Số buổi học" name="numberLesson" required="true" value="<%= course.numberLesson %>">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <label for="">Mô tả</label>
                        <div class="form-group">
                            <textarea id="text-area" name="des" id="" cols="30" rows="10" style="flex: 1;"><%= course.des %></textarea>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;margin-top: 20px;">

                    <button id="btn-creat-course">Lưu thay đổi</button>
                </div>
            </form>
            
            
        
    </section>
    



    <%- include('./partials/footer'); -%>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="/js/thang_custom.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const imgEle=document.querySelector('#img-review')
        const inputEle=document.querySelector('input[type="file"]')
        let srcImg;
        inputEle.addEventListener('change',(e)=>{
            if(srcImg){
                URL.revokeObjectURL(srcImg)
            }
            console.log(e.target.files[0])
            srcImg=URL.createObjectURL(e.target.files[0])
            imgEle.src=srcImg
        })
    })
</script>
</body>
</html>