<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" href="/css/profile-course.css">
</head>
<body>
    <%- include('./teachers/header'); -%>
    
    <section class="ftco-section bg-light" style="margin-top: 100px;">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Welcome to 1EDU</span>
                    <h2 class="mb-4">Lịch học</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <img src="<%= course.imageUrl %>" alt="" width="100%">
                    <p style="font-size: 22px;font-weight: 550;color: #555;"><%= course.name %></p>
                    <p >Ngày bắt đầu : <%= formatTime(course.startDate) %></p>
                </div>
                <div class="col-md-8 col-lg-8">
                    
                    <% if(allSchedule.length==0){ %>
                        <div style="font-weight: 600;color: black;font-size: 18px;">Chưa có lịch học nào</div> 
                        <form action="" method="post">
                            <input type="hidden" name="number"value="<%= course.numberLesson %>">
                            <button style="background-color: rgb(174, 43, 226);color:white;padding: 10px 20px; display: inline-block;border-radius: 20px;border:none;outline: none;">Tạo <%= course.numberLesson %> bài học</button>
                        </form>
                    <%}%>
                    <div class="container" style="margin-bottom: 30px;">
                        <div class="row">
                            <div class="col-lg-12 mx-auto">
                                <div id="accordionExample" class="accordion shadow">
                                    <% allSchedule.forEach(item=>{ %>
                                        <div class="card" style="padding: 8px 10px;">
                                            <div id="heading<%= item.seq%>" class="card-header bg-white shadow-sm border-0" style="padding: 5px 15px;">
                                                <h6 class="mb-0 font-weight-bold">
                                                    <a href="#" data-toggle="collapse" data-target="#collapse<%= item.seq%>" aria-expanded="false" aria-controls="collapse<%= item.seq%>" 
                                                    class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
                                                    Bài học #<%= item.seq+1 %></a>
                                                </h6>
                                                <div class="start-date" style="position: relative;">
                                                    <input type="date" name="startDate" value="<%= formatTime(item.date) %>" style="border: none;outline: none;cursor: pointer;">
                                                    <i class="bi bi-clipboard" data-id="<%= item._id %>" style="position: absolute;top: 0px;left: 200px;font-size: 18px;color: blue;display: none;"></i>
                                                </div>
                                            </div>
                                            <div id="collapse<%= item.seq%>" aria-labelledby="heading<%= item.seq%>" data-parent="#accordionExample" class="collapse">
                                                <div class="card-body p-5" style="position: relative;">
                                                    <p class="font-weight-light m-0 content-edit" style="color:#555;padding: 5px;">
                                                        <%- newLinee(item.content) %>
                                                    </p>
                                                    <i class="bi bi-pencil-square" style="position: absolute;top: 10px;right: 10px; font-size: 22px;cursor: pointer;color: #4986fc;"></i>
                                                    <i class="bi bi-clipboard-check" data-id="<%= item._id %>" style="position: absolute;bottom: 10px;right: 10px; font-size: 22px;cursor: pointer;color: #ce4be8;display: none;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>    
        </div>
    </section>



    <%- include('./partials/footer'); -%>
    <input type="hidden" name="userId" value="<%= user._id%>">


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/thang_custom.js"></script>

<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const startDateEl=document.querySelectorAll('.start-date')
        const saveDate=document.querySelectorAll('.bi-clipboard')

        const contentEl=document.querySelectorAll('.content-edit')
        const editContent=document.querySelectorAll('.bi-pencil-square')
        const saveContent=document.querySelectorAll('.bi-clipboard-check')


        startDateEl.forEach((item,index)=>{
            item.addEventListener('change',(e)=>{
                saveDate[index].style.display='block'
            })
        })
        saveDate.forEach((item,index)=>{
            item.addEventListener('click',(e)=>{
                let newDate=startDateEl[index].querySelector('input').value
                fetch(`${window.location.origin}/teacher/${e.target.dataset.id}/course/schedule/date/edit`,{
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                    method: "POST",
                    body: JSON.stringify({newDate:newDate})
                })
                .then(res=>res.json())
                .then(res=>{
                    console.log(res)
                    if(res.success){
                        e.target.style.display='none'
                    }
                    else{
                        e.target.innerText='Ngày không hợp lệ '
                    }
                })
            })
        })

        editContent.forEach((item,index)=>{
            item.addEventListener('click',(e)=>{
                e.target.style.display='none'
                contentEl[index].contentEditable =true
                contentEl[index].focus()
                saveContent[index].style.display='block'
            })
        })
        saveContent.forEach((item,index)=>{
            item.addEventListener('click',(e)=>{
                editContent[index].style.display='block'
                e.target.style.display='none'
                contentEl[index].contentEditable =false
                console.log(contentEl[index].innerText)
                fetch(`${window.location.origin}/teacher/${e.target.dataset.id}/course/schedule/content/edit`,
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        },
                    method: "POST",
                    body: JSON.stringify({newContent:contentEl[index].innerText})
                })
                .then(res=>res.json())
                .then(res=>{
                    console.log(res)
                })
            })
        })
    })
</script>
</body>
</html>