<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Khóa học hot </span>
                <h2 class="mb-4">Chọn khóa học</h2>
            </div>
        </div>
        <div class="row">
            <% allCourse.forEach(function(name) { %>
                <div class="col-md-6 col-lg-4 ftco-animate" >
                    <div class="project-wrap" style="position: relative;">
                        <a href="/course/<%= name.slug %>" class="img" style="background-image: url(<%= name.imageUrl %>)">
                            <span class="price">Software</span>
                        </a>
                        <div class="text p-4" style="padding-bottom: 30px;">
                            <h3><a href="/course/<%= name.slug %>"><%= name.name %></a></h3>
                            <p class="advisor">Giảng viên <a href="/instructor/<%=  name.teacherId._id %>"><%=  name.teacherId.name %></a></p>
                            <ul class="d-flex justify-content-between">
                                <ul style="display: flex;flex-direction: column; ">
                                    <li id="status-date"></li>
                                    <input type="text" style="display: none;" value="<%= formatTime(name.startDate) %>" name="day-start">
                                    <input type="text" style="display: none;" value="<%= formatTime(name.endDate) %>" name="day-end">
                                    
                                    <li ><span class="flaticon-shower"> <i class="bi bi-person-check"></i></span><%= name.quantityStudent %></li>
                                </ul>
                                <ul style="display: flex;flex-direction: column;">
                                    <li class="price" style="text-decoration: line-through;color: #888;font-weight: 400;"><%= formatMoney(name.fee) %></li>
                                    <li style="color: red;"><%= formatMoney(name.feeDiscount) %></li>
                                </ul>
                            </ul>
                        </div>
                        <div class="add-cart-btn" data-id="<%= name._id %>" data-image=<%= name.imageUrl %> >Thêm vào giỏ hàng</div>                
                    </div>  
                </div>
            <% }); %>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const startDateEle=document.querySelectorAll('input[name="day-start"]')
        const endDateEl=document.querySelectorAll('input[name="day-end"]')
        const dateStatus=document.querySelectorAll('#status-date')
        dateStatus.forEach((item,index)=>{
            let startDate=new Date(startDateEle[index].value)
            let endDate=new Date(endDateEl[index].value)
            let today=new Date()
            if(today-startDate<0){
                item.innerText='Sắp bắt đầu'
                item.classList.add('success-color')
            }
            else if(today-endDate>0){
                item.innerText='Đã kết thúc'
                item.classList.add('err-color')
            }
            else{
                item.innerText='Đang diễn ra'
                item.classList.add('info-color')
            }
        })

        const addCartBtn=document.querySelectorAll('.add-cart-btn')
        addCartBtn.forEach(item=>{
            item.addEventListener('click',addCart)
        })
    })
    
</script>